<launch>

<rosparam file="$(find 4D_dyn_manip_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="4D_dyn_manip" args="l1_to_base_link_position_controller l3_to_l2_position_controller l4_to_l3_position_controller l2_to_base_link_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/4D_dyn_manip/joint_states"/>
</node>

</launch>