<?xml version="1.0" ?>
<robot name="test_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_arm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_arm_description)/urdf/test_arm.trans" />
<xacro:include filename="$(find test_arm_description)/urdf/test_arm.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-5.171119767084529e-16 -5.847343121241737e-16 0.007250066327963411" rpy="0 0 0"/>
    <mass value="0.28044558799766406"/>
    <inertia ixx="6e-05" iyy="6e-05" izz="0.00011" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l1_1">
  <inertial>
    <origin xyz="0.0 -2.998360865435657e-18 0.05837926071734703" rpy="0 0 0"/>
    <mass value="1.4882159222435947"/>
    <inertia ixx="0.001798" iyy="0.001814" izz="0.000404" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -0.0156" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.0156" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l3_1">
  <inertial>
    <origin xyz="-0.0225 -4.6191202212010775e-17 0.019211679954911187" rpy="0 0 0"/>
    <mass value="0.5313164610981339"/>
    <inertia ixx="0.000383" iyy="0.00054" izz="0.00039" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0225 0.0 -0.2704" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0225 0.0 -0.2704" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l4_1">
  <inertial>
    <origin xyz="2.415182822690866e-17 0.01749999999999996 0.003312389830272433" rpy="0 0 0"/>
    <mass value="0.4870318174009785"/>
    <inertia ixx="0.00015" iyy="0.00016" izz="0.000102" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.0175 -0.3204" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.0175 -0.3204" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l2_1">
  <inertial>
    <origin xyz="-0.022500000000000003 -1.7673721184167093e-17 0.10037346927140525" rpy="0 0 0"/>
    <mass value="2.0198161254556277"/>
    <inertia ixx="0.006212" iyy="0.006521" izz="0.000861" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0225 0.0 -0.1089" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0225 0.0 -0.1089" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_arm_description/meshes/l2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="l1_to_base_link" type="continuous">
  <origin xyz="0.0 0.0 0.0156" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l1_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="l3_to_l2" type="revolute">
  <origin xyz="0.0 0.0 0.1615" rpy="0 0 0"/>
  <parent link="l2_1"/>
  <child link="l3_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="l4_to_l3" type="revolute">
  <origin xyz="-0.0225 -0.0175 0.05" rpy="0 0 0"/>
  <parent link="l3_1"/>
  <child link="l4_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="l2_to_l1" type="revolute">
  <origin xyz="0.0225 -0.0 0.0933" rpy="0 0 0"/>
  <parent link="l1_1"/>
  <child link="l2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="2.356194" lower="-2.356194" effort="100" velocity="100"/>
</joint>

</robot>
